<p id="notice"><%= notice %></p>


   <h3>My Earned Badges</h3>
    <div class="card-deck mt-4">
<% @badges.each do |badge| %>

        <div class="card mb-4" style="width: 12rem;">
        <%= image_tag url_for(badge.img_url), :style => "width: 10rem;" %>
            <div class="card-body">
                <h4 class="card-title"><%= badge.title %></h4>
                <p class="card-text"><u>Earned</u> <br/> <%= badge.created_at %></p>
               

            </div>
        </div>
   
<% end %>
  </div>

