.card{
	text-align: center;
	background-color: orange;
	width: 1200px;
	height: 230px;
	left: 10.5%;
}

.button{
	padding: 50px;
}
.hide{
	display: none;
}

.results_card{
	text-align: center;
	background-color: orange;
	width: 1200px;
	height: 230px;
}

.choiceBtn{
	width: 500px;
	margin-top: 5px;
}