    <div class="row">
        <div class="col-md-12">
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
<form class="form-inline md-form form-sm active-pink-2 mt-2">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
</form>

        </div>
    </div>

        <div class="row mt-5">
        <div class="col-md-8">
       <div class="card" style="width: 18rem;">
  <img src="/test/bananakiller.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

        <div class="row mt-5">
        <div class="col-md-8">
       <div class="card" style="width: 18rem;">
  <img src="/test/bananakiller.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

        <div class="row mt-5">
        <div class="col-md-8">
       <div class="card" style="width: 18rem;">
  <img src="/test/bananakiller.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

        <div class="row mt-5">
        <div class="col-md-8">
       <div class="card" style="width: 18rem;">
  <img src="/test/bananakiller.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

        <div class="row mt-5">
        <div class="col-md-8">
       <div class="card" style="width: 18rem;">
  <img src="/test/bananakiller.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


            </div>    </div>